body {
  margin: 0;
  padding: 0;
  background-color: #242038;
  color: #111;
  font-family: 'Karla', sans-serif;
}

main, header {
  display: flex;
 
  margin: auto;
  width: 400px;
  padding: 20px;
  box-shadow: 2px 50px 50px black;
}

main {
  background-color: #fdfdfd ;
  flex-direction: column;
  justify-content: center;
}

/* Header */
header {
  background-color: #e7f8ff ;
  align-items: center;
}

h1 {
  margin: 0 0 0 5px;
  font-size: 27px;
  color: #19647E;
}


.fa-igloo {
  color: #19647E;
  font-size: 22px;
}

.user-pic {
  display: block;
  border-radius: 50%;
  width: 50px;
  margin-right: 10px ;
}

/* HONK INPUT - APP TOP SECTION */

.create-honk {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.main-user {
  margin-bottom: auto;
  margin-right: 10px;
}

textarea {
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    font-size: 25px;
    
}

.honk-btn {
  margin: auto;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  width: 90%;
  padding: 10px 20px;
  font-size: 26px;
  margin-bottom: 30px;
  border-radius: 40px;
  border: none;
  background-color: #19647E;
  color: whitesmoke;
}

/* Honks design */

.honk {
  margin: auto;
  width: 90%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border-top: 1px rgba(17, 17, 17, 0.329) solid;
}

.other-users {
  margin-bottom: auto;
  margin-right: 12px;
}

.user-name, .comment h4 {
  color: #24203898;
  font-size: 15px;
  margin: 0;
}

.honk-display p {
  width: 90%;
}

.honk-replies,
.honk-likes,
.honk-rehonks {
  margin-right: 2.2em;
}

.fa-comment-dots,
.fa-heart,
.fa-retweet{
  margin-right: 5px;
  color: rgb(153, 151, 151);
  cursor: pointer;
  user-select: none;
}

/* Comment display */

.comment {
  border-top: 1px rgba(17, 17, 17, 0.329) solid;
  padding: 20px 0;
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
}

.comment p{
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

.fa-comment-dots:hover {
  color: #111;
}