body {
  margin: 0;
  padding: 0;
  background-color: #242038;
  color: #111;
  font-family: 'Karla', sans-serif;
  position: relative;
  transition: 1s;
}

main, header {
  display: flex;
 
  margin: auto;
  width: 400px;
  padding: 20px;
  box-shadow: 2px 50px 50px black;
}

main {
  background-color: #fdfdfd ;
  flex-direction: column;
  justify-content: center;
}

/* Header */
header {
  background: linear-gradient(260deg, #cfedfa 0%, rgba(255,255,255,1) 100%);
  align-items: center;
  overflow: hidden;
}

h1 {
  margin: 0 0 0 5px;
  font-size: 27px;
  color: #19647E;
}


.fa-igloo {
  color: #19647E;
  font-size: 22px;
}

.user-pic {
  display: block;
  border-radius: 50%;
  width: 50px;
  margin-right: 10px ;
}

.floe-icon {
  transform: translateX(100%);
  opacity: 0;
  width: 30px;
  margin-left: auto;
  transition: 2s;
}

header:hover .floe-icon {
  transform: translateX(-20%);
  opacity: 1;
}

/* HONK INPUT - APP TOP SECTION */

.create-honk {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.main-user {
  margin-bottom: auto;
  margin-right: 10px;
}

.user-input {
    border: 1px solid rgba(17, 17, 17, 0.103);
    resize: none;
    padding: 10px;
    margin: 0;
    height: 90px;
    font-size: 23px;
    transition: 1s;
    border-radius: 10px;
}

.user-input:hover,
.user-input:focus {
  border-radius: 20px;
  box-shadow: inset 1px 1px 5px #19647E;
}

.honk-btn {
  margin: auto;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  width: 90%;
  padding: 10px 20px;
  font-size: 26px;
  margin-bottom: 30px;
  border-radius: 40px;
  border: none;
  background-color: #19647E;
  color: whitesmoke;
  cursor: pointer;
}

.honk-btn:hover,
.reply-btn:hover {
  box-shadow: 1px 1px 5px #19647E;
}

.honk-btn:active {
  box-shadow: inset 1px 1px 5px black;
}

/* Honks design */

.honk {
  margin: auto;
  width: 90%;
  padding: 20px 0;
  display: flex;
  border-top: 1px rgba(17, 17, 17, 0.329) solid;
  position: relative;
}

.other-users {
  margin-bottom: auto;
  margin-right: 12px;
}

.user-name, .reply h4 {
  color: #24203898;
  font-size: 15px;
  margin: 0;
}

.honk-display p {
  width: 90%;
  margin: 10px 0 12px 0;
}

.honk-replies,
.honk-likes,
.honk-rehonks {
  margin-right: 2.2em;
}

.fa-comment-dots,
.fa-heart,
.fa-retweet,
.fa-reply,
.fa-trash
{
  margin-right: 5px;
  color: rgb(153, 151, 151);
  cursor: pointer;
  user-select: none;
}

/* Replies display */

.reply {
  border-top: 1px rgba(17, 17, 17, 0.329) solid;
  padding: 20px 0;
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
}

.reply p{
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

.fa-comment-dots:hover {
  color: #111;
}

/* Reply input */

.reply-input {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.reply-area {
  border: 1px solid rgba(17, 17, 17, 0.199);
  resize: none;
  padding: 10px;
  margin: 0;
  height: 40px;
  font-size: 15px;
  transition: 1s;
  border-radius: 10px;
}

.reply-btn {
  align-self: flex-end;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  padding: 8px 10px;
  font-size: 12px;
  margin : 5px 0 10px 0;
  border-radius: 40px;
  border: none;
  background-color: #19647E;
  color: whitesmoke;
  cursor: pointer;
}

/* Delete Honk */

.fa-trash {
  position: absolute;
  right: 0;
  top: 20px;
}

.fa-trash:hover {
  color: #111;
  transform: translateY(10%);
}